// CONTACT SECTION
.contact {
  width: 100%;
  min-height: 50vh;
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
// CONTACT H2
  &__title {
    font-size: 2rem;
    margin: 1rem 0;
  }
//CONTACT FORM CONTAINER
  &__container {
    width: 100%;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $bp-large) {
      flex-direction: row;
    }
  }
  // 1ST BOX OF CONTAINER - FORM
  &__box1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;

    @media screen and (min-width: $bp-large) {
      flex-basis: 60%;
      margin-bottom: 1rem;
    }

    &__form {
      width: 90%;
      
    &--field {
      text-align: center;
      border: none;
      border-radius: 10px;
      font-size: 1.2rem;
      font-family: $font-primary;
      width: 100%;
      margin-bottom: 1rem;
      padding: 1rem 0;
      box-sizing: border-box;
      outline: none;

    }
    &--field:focus {
      border-radius: 10px;
      border: .5px solid $color-orange;
      background-color: rgb(252, 248, 248);
    }
    }
  }
  // 2ND BOX OF CONTAINER - PRIVACY POLICY
  &__box2 {
    width: 90%;
    font-size: 1rem;
    text-align: justify;

    @media screen and (min-width: $bp-large) {
      flex-basis: 30%;
      margin-bottom: 1rem;
    }
    &__form {

      &--privacy:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }
  // FORM - SEND FORM BUTTON
  &__button {
    border: none;
    background-color: $color-orange;
    font-size: 1.5rem;
    font-family: $font-primary;
    padding: .5rem 1rem;
    margin: 2rem 0;
    @media screen and (min-width: $bp-small-2){
      margin: 1.5rem 0;
    }
  }
  &__button:active {
    color: white;
  }
  &__button:hover {
    cursor: pointer;
  }
}
// BOTTOM PART OF CONTACT SECTION WITH CONTACT DETAILS AND INFORMATION

.contact__details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: left;
  padding: 1rem;
  margin-top: 4rem;
  @media screen and (min-width: $bp-smaller) {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  &--header {
    font-size: 2rem;
    letter-spacing: 1px;
    color: $color-orange;
  }
  &--address {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;

    @media screen and (min-width: $bp-large) {
      flex-direction: row;
      justify-content: space-between;
      flex-basis: 50%;
    }

    &__social {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &--item {
        
      .fab {
        font-size: 2.5rem;
        padding: 1rem;
        margin: 1rem;
        color: black;
      }
      .fa-facebook-square:hover {
        color: blue;
      }
      .fa-instagram:hover {
        color: #dc2743;
      }
      }
    }
  }
  &--address-item {
    font-size: 1.3rem;
    font-weight: 400;
  }

  &--info-item {
    margin-bottom: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (min-width: $bp-large) {
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
    span {
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1px;
    }

    a {
      font-size: 1.2rem;
      text-decoration: none;
      color: #000;
      @media screen and (min-width: $bp-large){
        margin-left: .5rem;
      }
    }
    a:hover {
      color: $color-orange;
    }
  }
}