.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  top: 10vh;
  left: 0;
  margin-top: 4rem;
  @media screen and (orientation: landscape) {
    margin-top: 5rem;
  }

  &__product {
    max-width: 100%;
    margin: 1rem 2rem;
    font-size: 1.6rem;
    // font-weight: 600;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    @media screen and (min-width: $bp-large) {
      margin: 1rem 10rem;
    }
    // @media screen and (min-width: $bp-medium) {
    //   max-width: 70%;
    // }
    // @media screen and (min-width: $bp-largest) {
    //   max-width: 60%;
    // }
    &--p1 {
      margin-bottom: 1rem;

      span {
        font-weight: 900;
        letter-spacing: 1px;
      }
    }
    &--p2 {
      margin-bottom: 2rem;
      span {
        font-weight: 900;
        letter-spacing: 1px;
      }
    }
  }
  &__img {
  width: 100%;
  height: 70vh;
  background-image: url(../image-mb/butelki.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: $bp-large) {
    height: 100vh;
    background-position: center top;
  }
  }
}