// COLOR VARIABLES
$color-primary: #F7F0DE;
$color-primary-2: #BDDAA2;

$color-black: #000;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px / 16px = 75
$bp-large: 62.5em; // 1000px / 16px = 62.5
$bp-medium: 50em; // 800px / 16px = 50
$bp-small: 37.5em; // 600px / 16px = 37.5
$bp-smaller: 26.5em; // 420px / 16px = 26.25
$bp-verySmall: 20em; // 320px / 16 = 20;